<%- include ('./partials/head.ejs') %>

    <div class="container">
        <h1 style="text-align: center">
            <%= brandName %>
        </h1>
        <div class="cards_container">
            <% brandCatfood.forEach(catfood=> { %>
                <div class="card" style="width: 360px; text-align: center">
                    <div class="card-header">
                        <div class="edit_btn">
                            <a href="/catfoods/<%= catfood._id %>/edit ">
                                <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                            </a>
                        </div>
                        <div class="fav_btn">
                            <form method="post" action="/catfoods/<%= catfood._id %>/favourite?_method=PUT"
                                enctype="multipart/form-data">
                                <input type="submit" value="Add to favourite" />
                            </form>
                        </div>
                    </div>
                    <a href="/catfoods/<%= catfood._id %>">
                        <img class="card-img-top" src="<%= catfood.imageURL %>" />
                    </a>
                    <div class="card-body">
                        <h4>
                            <%= catfood.name %>
                        </h4>
                        <h4>
                            <%= catfood.brand %>
                        </h4>
                        <h4>$<%= catfood.price.toFixed(2) %>
                        </h4>
                    </div>
                </div>
               <% }) %>
        </div>

    </div>


    <%- include ('./partials/foot.ejs') %>