<%- include ('./partials/head.ejs') %> 

<div class="index_container">
    <h1>Catalogue</h1>
    <div class="cards_container">
        <% catfoods.forEach(catfood => { %>
            
            <div class="card" style="width: 360px; text-align: center">
                <a href="/catfoods/<%= catfood._id %>">
                    <img class="card-img-top" src="<%= catfood.imageURL %>" />
                </a>
                <div class="card-body">
                   <h4> <%= catfood.name %> </h4>
                <h4><%= catfood.brand %> </h4>
                <h4>$<%= catfood.price.toFixed(2) %></h4>
                </div>
                
            </div>
        <% }) %> 
    </div>




</div>

<%- include ('./partials/foot.ejs') %>