<%- include ('./partials/head.ejs') %>

    <div class="index_container">
        <h1>Top Brands</h1>
        <div class="brands_container">
            
                <% const brands = [] %>
                <% catfoods.forEach((catfood) => { %>
                   <%   if (brands.indexOf(catfood.brand) === -1) {  %>
                    <%       brands.push(catfood.brand) }  %>
                <% }) %> 
                <% brands.forEach(brand => { %>
                    <div class="card" style="width: 180px; text-align: center;">
                        <div class="card-top">
                            <h4><%= brand %> </h4>
                        </div>
                        <a href="/catfoods/brand/<%= brand %> ">
                            <% const brandSample = catfoods.find(catfood => catfood.brand === `${brand}`) %> 
                            <img class="card-img" src="<%= brandSample.imageURL %>" />
                        </a>
                    </div>
                <% }) %> 
        </div>
        <h1>All Products</h1>
        <div class="cards_container">
            <% catfoods.forEach(catfood=> { %>
                <div class="card" style="width: 360px; text-align: center">
                    
                    <a href="/catfoods/<%= catfood._id %>">
                        <img class="card-img-top" src="<%= catfood.imageURL %>" />
                    </a>
                    <div class="card-body">
                        <h4>
                            <%= catfood.name %>
                        </h4>
                        <h4>
                            <%= catfood.brand %>
                        </h4>
                        <h4>$<%= catfood.price.toFixed(2) %>
                        </h4>
                    </div>
                    <div style="text-align: right; padding-right: 0.3em">
                        <form method="post" action="/catfoods/<%= catfood._id %>/favourite?_method=PUT"
                            enctype="multipart/form-data">
                            <input type="submit" class="btn fa-input fa-2x " 
                            value="&#xf004;" />
                        </form>
                    </div>
                    
                </div>
                <% }) %>
        </div>




    </div>

    <%- include ('./partials/foot.ejs') %>